body, html {
    height: 100%;
}

#rightSide {
    position: fixed;
    top: 0;
    bottom: 0;
}

.borderPadding{
    padding: 10px;
}

#sizeQuestion, .formCategoryHeaders {
    text-align: center;
    padding-bottom: 20px;
}

.buttonStretched {
    width: 100%;
}

.buttonToppings{
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
    text-align: center !important;
}

#hiddenPizzaForm {
    display: none;
}

#receiptCardHeader, #orderFormHeader {
    text-align: center; 
}

#receiptCard {
    width: 750px;
    height: 750px;
    display: none;
}

#receiptDescriptor {
}

#formArea {
    height: 100vh;
}



#startPage {
    /* display: none; */
    height: 100vh;
    width: 90vh;
    text-align: center;
    align-self: center;
}

#chooseOptionCard {
    display: none;
}

.card {
    margin-top: 10px;
}